/*HTML5 reset*/
/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
.hidden { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body {  }

a { color:inherit; text-decoration:none;}
a.link { color: #06e; background: #FBFbFB;}
a.link:hover { text-decoration:underline;}
a.link:visited { color:#000099;  }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
p{ margin:0; padding:10px 0px 0px 0px; display:block; text-indent:30px;}
.postBody p:before{
}
p.noindent { text-indent:0px;}
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
ul{margin:0; padding:0;}
ul li{margin:0; padding:0;}

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

div{
	position:relative;
}


body{
    /*width:900px; */
	position:relative;
	padding:0;
	margin:0 auto;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 1em; line-height: 1.4;
}
h1{
    display:inline-block;
	width:auto;
	padding:0;
	font-size:2em;
	font-weight:500;
}

h1.title{
    margin:15px;
    text-shadow: 0 0.1em 0.05em #f5f5f5;
}

h1.selected{
    margin: 0 3em 0 0;
    border-bottom: 2px solid #3388ff;
    color:inherit;
    cursor:auto;
}

h2{
	padding:0;
	margin:0;
	text-transform: uppercase;
	font-size:1.5em;
	font-weight:500;	
}
h3{
	padding:0;
	margin:0;
	text-transform: uppercase;
	font-size:.9em;
	font-weight:500;
    color:#aaa;
}
h4{
	padding:0;
	margin:0;
	font-size:1.1em;
	font-weight:500;
}

.header-container{
    float:left;
    margin:0 25px 0 0;
}

div.minime{
    padding:50px 0px;
}

footer{
    font-size:0.5em;
	position:relative;
	font-weight:300;
}
div.button{
	height:20px;
    padding:5px;
	border-radius:2px;
	border:none;	
    text-decoration:underline;
    cursor:pointer;
}

div.button:hover{
	box-shadow:0px 0px;	
	border:1px solid rgba(110,133,255,0.5)
}

.nav{
    cursor:pointer;
    color: #3388ff;
    border-bottom: 2px solid transparent;
}

div.nav{
    display:inline-block;
}

div.headerArrow{
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid black;
	margin:0 auto;
}
div.headerArrow div{
	display:none;
}

div.border{
	border:1px solid black;
	border-radius:5px;
}
div.border div{
	text-align:center;
	width:100%;
	padding:10px 0 10px 0;
	border-bottom:1px solid lightgray;
}
.fl{
	float:left;
}

.fr{
	float:right;
}

.fb{
    position:absolute;
    bottom:0;
    right:0;
}

hr{
    margin:0;
}

.content{
    width:1100px;
    margin:0px auto;
}

.blog{
    width:800px;
    margin:0 auto;
    float:left;
	background-color:#e6e6e6;
}

article { 
    margin:25px;
}

/* BlogUL List */ 
ul.blogpost {
	list-style:none;
	text-indent:0px;;
    color:#454545;
}
ul.blogpost li{
	position:relative;
	display:block;
	padding:1.5em;
	margin:.5em;
	cursor: pointer;
}
ul.blogpost li h1{
	display:block;
    padding:0;
    margin:0 0 0px 0;
    color:#0E0E0E;
}
ul.blogpost li h3{
    display: inline-block;
    float:right;
}
ul.blogpost li p{
    text-indent:0px;
}

ul.blogpost li:nth-child(1n){
    border-bottom:1px solid #33b5e5; //Blue
}

ul.blogpost li:nth-child(2n){
    border-bottom:1px solid #a6c; //Purple
}

ul.blogpost li:nth-child(3n){
    border-bottom:1px solid #9c0; //Green
}

ul.blogpost li:nth-child(4n){
    border-bottom:1px solid #fb3; //Orange
}

ul.blogpost li:nth-child(5n){
    border-bottom:1px solid #f40; //Red
}

ul.blogpost li div.postTitle{
    padding-bottom:15px;
}

.project_block {
    width:50%;
    float:left; 
}

.time{
	font-size:12px;
	float:right;
	margin-right:10px;
	

}
.greentext{
    color:#669900;
}
.android{}
a.purp_link_bold { 
    color:#4b2354;
    font-weight:bold;
}
.small_text{
    font-size:.8em;
}

.side_info{
    width:255px;
    float:left;
    text-align:center;
    padding:10px;
}
.card { 
    background-color:#fff;
    box-shadow: 0 1px 5px rgba(0,0,0, 0.3);
    border-radius:2px;
}
.circle_profile{
    width:150px;
    border-radius:1000px;
}


@media (max-width:1100px) {
    .content{
        width:auto;
    }
    .greentext{
        color:#fff;
    }
    .android{
        display:none;
    }
    .side_info{
        background-image: url("../img/bg.jpg");
        background-size: cover;
        background-position:center;
        width:100%;
        padding:0;
        color:#fff;
    }
    .blog {
        width:auto;
    }
}
